nav .brandlink {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

#home-page .jumbotron{
    background-image: url("../images/bjarstin-rose-9917575_1920.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFF;
}